* {
        box-sizing: border-box;
      }
      body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #06203f;
        background-image: linear-gradient(135deg, #06203f 3%, #053b41 100%);
        height: 100vh;
        width: 100%;
      }

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
      }
      .date_timer_container {
        margin-top: 20%;
      }

      .current_date {
        margin-bottom: 100px;
        color: #e9eff2;
        opacity: 0.7;
        font-size: 30px;
      }
      #PriceChart1,
      #PriceChart2 {
        width: 1200px;
        height: 650px;
        border: solid 2px #217554;
        border-radius: 3px;
        background-color: rgba(233, 239, 242, 0.7);
      }

      #PriceChart1 > img,
      #PriceChart2 > img {
        width: 100%;
        height: 100%;
      }

      #new_charts {
        color: white;
        opacity: 0.8;
        background-color: transparent;
        width: 150px;
        height: 40px;
        font-size: 20px;
        border: 0.5px solid #217554;
        border-radius: 3px;
        margin-top: 90px;
        outline: none;
      }

      #new_charts:hover {
        cursor: ew-resize;
      }

      .ba-slider {
        position: relative;
        overflow: hidden;
      }

      .ba-slider div {
        width: 100%;
        display: block;
      }

      .resize {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        overflow: hidden;
      }

      .handle {
        /* Thin line seperator */
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 1px;
        background: #217554;
        cursor: ew-resize;
      }

      .handle:after {
        position: absolute;
        top: 2%;
        width: 14px;
        height: 14px;
        margin: -7px 0 0 -7px;
        content: "\21d4";
        color: white;
        font-weight: bold;
        font-size: 13px;
        text-align: center;
        line-height: 14px;
        background: #217554;
        border: 1px solid #217554;
        border-radius: 50%;
        transition: all 0.3s ease;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3),
          inset 0 2px 0 rgba(255, 255, 255, 0.5),
          inset 0 60px 50px -30px #217554;
      }

      .draggable:after {
        width: 24px;
        height: 24px;
        margin: -12px 0 0 -12px;
        line-height: 24px;
        font-size: 5px;
      }

      @media all and (min-width: 1401px) {
        .container {
          height: 100vh;
        }
        .date_timer_container {
          margin-top: 10%;
        }
      }
      @media all and (max-width: 1400px) {
        .container {
          height: 100%;
        }
        #PriceChart1,
        #PriceChart2 {
          width: 900px;
          height: 489px;
        }
        #new_charts {
          margin-top: 60px;
        }
      }

      @media all and (max-width: 1000px) {
        #PriceChart1,
        #PriceChart2 {
          width: 750px;
          height: 407px;
        }
      }
      @media all and (max-width: 800px) {
        #PriceChart1,
        #PriceChart2 {
          width: 650px;
          height: 353px;
        }
        .current_date {
          font-size: 25px;
        }
      }
      @media all and (max-width: 700px) {
        #PriceChart1,
        #PriceChart2 {
          width: 550px;
          height: 298px;
        }
      }
      @media all and (max-width: 600px) {
        .container {
          height: 100vh;
        }
        .current_date {
          font-size: 20px;
        }
        #PriceChart1,
        #PriceChart2 {
          width: 450px;
          height: 244px;
        }
      }
      @media all and (max-width: 450px) {
        .current_date {
          font-size: 15px;
        }
        #PriceChart1,
        #PriceChart2 {
          width: 375px;
          height: 203px;
        }
      }
      /* @media all and (max-width: 375px) {
                  .current_date {
                    font-size: 12px;
                  }
                  #PriceChart1, #PriceChart2 {
                      width: 350px;
                      height: 190px;
                  }
                }
                @media all and (max-width: 350px) {
                  #PriceChart1, #PriceChart2 {
                      width: 315px;
                      height: 171px;
                  }
                }*/

      @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
        .current_date {
          font-size: 12px;
        }
        #PriceChart1,
        #PriceChart2 {
          width: 400px;
          height: 217px;
        }
      }

      /* Portrait */
      @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
        .date_timer_container {
          margin-top: 40%;
        }
        .current_date {
          font-size: 12px;
        }
        #PriceChart1,
        #PriceChart2 {
          width: 350px;
          height: 190px;
        }
      }

      /* Landscape */
      @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        body {
          height: 100%;
          width: 100vw;
        }
        .current_date {
          font-size: 18px;
        }
        #PriceChart1,
        #PriceChart2 {
          width: 415px;
          height: 225px;
        }
        #new_charts {
          width: 100px;
        }
      }